/* ==========================================================================
Title
========================================================================== */

.deal-title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .deal-image {
    display: block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin-#{$end-direction}: 0.75rem;
    background: var(--wrap-bg-color);
  }

  .inner-wrap {
    .deal-title {
      font-size: 1.5rem;
      font-family: var(--font-alt);
      color: var(--title-color);
    }
  }

  .actions {
    display: flex;
    margin-#{$start-direction}: auto;

    .button {
      height: 40px !important;
      margin-#{$start-direction}: 8px;
      min-width: 100px;

      .iconify {
        padding-#{$end-direction}: 0;
      }
    }
  }
}

/* ==========================================================================
Stage
========================================================================== */

.stage-wrapper {
  position: relative;
  margin-top: 12px;
  background: var(--wrap-bg-color);
  padding: 6px;
  border-radius: 100px;
  border: 1px solid var(--wrap-border-color);

  .stages {
    position: absolute;
    top: 20px;
    #{$start-direction}: 0;
    display: flex;
    width: 100%;
    padding: 0 6px;

    .stage {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      border-#{$end-direction}: 1px solid var(--light-text);
      padding: 0 16px;
      min-height: 30px;

      &:last-child {
        visibility: hidden;
      }

      &.is-done {
        span .iconify {
          display: inline-block;
          color: var(--primary);
        }
      }

      span {
        position: absolute;
        bottom: 0;
        #{$end-direction}: 10px;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: var(--font);
        color: var(--title-color);

        .iconify {
          display: none;
          color: var(--primary);
          margin-#{$end-direction}: 4px;
        }
      }
    }
  }

  .stage-inner {
    padding: 3px;
    background: var(--dropdown-bg-color-hover);
    border-radius: 100px;

    .progress {
      height: 0.45rem !important;

      &::-webkit-progress-bar {
        background-color: var(--wrap-muted-color);
      }

      &::-webkit-progress-value {
        background-color: var(--primary);
        border-radius: 100px;
      }

      &::-moz-progress-bar {
        background-color: var(--primary);
        border-radius: 100px;
      }

      &::-ms-fill {
        background-color: var(--primary);
        border-radius: 100px;
      }
    }
  }
}

/* ==========================================================================
Deal Subheader
========================================================================== */

.deal-meta {
  display: flex;
  align-items: center;
  margin-top: 3rem;

  .deal-price {
    display: flex;
    align-items: center;

    span {
      display: block;

      &:first-child {
        font-size: 1.4rem;
        font-family: var(--font);
        font-weight: 700;
        color: var(--title-color);
      }

      &:nth-child(2) {
        margin-#{$start-direction}: 16px;
        font-family: var(--font);
        color: var(--light-text);
      }
    }
  }

  .deal-owner {
    display: flex;
    align-items: center;
    margin-#{$start-direction}: auto;

    img {
      display: block;
      height: 38px;
      width: 38px;
      border-radius: 50%;
    }

    .owner-meta {
      margin-#{$start-direction}: 0.75rem;
      margin-#{$end-direction}: 0.75rem;
      line-height: 1.2;

      span {
        display: block;

        &:first-child {
          font-family: var(--font-alt);
          font-size: 0.9rem;
          font-weight: 600;
          color: var(--title-color);
        }

        &:nth-child(2) {
          font-family: var(--font);
          font-size: 0.9rem;
          color: var(--light-text);
        }
      }
    }

    .dropdown {
      margin-#{$start-direction}: 12px;

      > .button i {
        font-size: 18px;
      }
    }
  }
}

/* ==========================================================================
Deal content
========================================================================== */

.deal-content {
  margin-top: 20px;
  padding-bottom: 60px;

  .column {
    &.is-spaced {
      margin-top: 20px;
    }
  }

  form {
    .button-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 20px;

      button {
        line-height: 0;
      }

      .button {
        min-width: 100px;
      }

      .control {
        width: 100%;
        margin-#{$end-direction}: 30px;
      }
    }
  }

  .deal-card {
    @include zodCard();

    border-radius: 0.65rem;
    border: 1px solid var(--card-border-color);
    padding: 1.25rem;
    margin-bottom: 1.5rem;

    .deal-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.is-toggle {
        cursor: pointer;

        &:hover {
          .toggle-icon {
            background: var(--dropdown-bg-color-hover);
          }
        }

        &.is-active {
          .toggle-icon {
            transform: rotate(90deg);
          }
        }

        .toggle-icon {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;

          .iconify {
            font-size: 1rem;
          }
        }
      }

      h3 {
        text-transform: uppercase;
        font-family: var(--font-alt);
        font-size: 0.8rem;
        color: var(--title-color);
        font-weight: 500;
      }
    }

    .deal-card-content {
      margin-top: 1rem;

      .details-placeholder {
        span {
          display: block;
          font-family: var(--font);
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--title-color);
        }

        a,
        a span {
          margin-top: 4px;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          font-family: var(--font);
          color: var(--medium-text);
          transition: all 0.3s;

          &:hover {
            color: var(--primary);

            .iconify {
              color: var(--primary);
            }
          }

          .iconify {
            position: relative;
            font-size: 16px;
            margin-#{$end-direction}: 3px;
            transition: all 0.3s;
          }
        }
      }

      .deal-contact {
        display: flex;
        align-items: center;
        margin-#{$start-direction}: auto;
        margin-bottom: 1rem;

        img {
          display: block;
          height: 32px;
          width: 32px;
          border-radius: 50%;
        }

        .contact-meta {
          margin-#{$start-direction}: 0.75rem;
          line-height: 1.2;

          span {
            display: block;

            &:first-child {
              font-family: var(--font-alt);
              font-size: 0.9rem;
              font-weight: 600;
              color: var(--title-color);
            }

            &:nth-child(2) {
              font-family: var(--font);
              font-size: 0.8rem;
              color: var(--light-text);
            }
          }
        }
      }

      .info-block {
        display: flex;
        align-items: center;
        margin-#{$start-direction}: auto;
        margin-bottom: 1rem;

        .block-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          transition: all 0.3s;

          .iconify {
            font-size: 1.2rem;
            color: var(--light-text);
            transition: all 0.3s;
          }
        }

        .block-meta {
          margin-#{$start-direction}: 0.75rem;
          line-height: 1.3;

          span {
            display: block;

            &:first-child {
              font-family: var(--font-alt);
              font-size: 0.8rem;
              font-weight: 600;
              color: var(--title-color);
            }

            &:nth-child(2) {
              font-family: var(--font);
              font-size: 0.9rem;
              color: var(--light-text);

              a {
                color: var(--light-text);
              }
            }
          }
        }

        &.is-add {
          &:hover {
            .block-icon {
              background: var(--wrap-muted-color);

              .iconify {
                color: var(--light-text);
              }

              &:hover {
                background: var(--primary);
                box-shadow: var(--primary-box-shadow);
                cursor: pointer;

                .iconify {
                  color: var(--white-smoke);
                }
              }
            }
          }
        }
      }
    }
  }

  .action-card {
    background: var(--card-bg-color);
    border-radius: 0.65rem;
    border: 1px solid var(--card-border-color);
    overflow: hidden;

    .action-card-header {
      padding: 1rem;
      background: var(--wrap-muted-color);
      display: flex;
      align-items: center;

      .action {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 0.75rem;
        cursor: pointer;

        &.is-active {
          .iconify {
            color: var(--title-color);
          }

          span {
            color: var(--title-color);
            font-weight: 500;
          }

          .arrow-down {
            display: block;
          }
        }

        .iconify {
          font-size: 1.25rem;
          color: var(--light-text);
          margin-#{$end-direction}: 0.25rem;
        }

        span {
          font-family: var(--font);
          font-size: 0.9rem;
          color: var(--light-text);
        }

        .arrow-down {
          display: none;
          position: absolute;
          bottom: -27px;
          #{$start-direction}: 0;
          #{$end-direction}: 0;
          margin: 0 auto;
          width: 0;
          height: 0;
          border-#{$start-direction}: 12px solid transparent;
          border-#{$end-direction}: 12px solid transparent;
          border-top: 12px solid var(--wrap-muted-color);
        }
      }
    }

    .action-card-body {
      .action-wrap {
        padding: 1rem;

        .event-form {
          padding: 0 1.25rem 1.25rem;

          .columns {
            margin: -0.2rem;

            .column {
              padding: 0.4rem;
            }
          }
        }

        .textarea {
          box-shadow: none !important;
          border-color: transparent;
        }

        .attachments-field {
          .message-files {
            display: flex;
            align-items: center;
            padding: 8px;
            background: var(--wrap-muted-color);
            border-radius: 0.75rem;

            .upload-box {
              position: relative;
              margin: 8px;

              input {
                position: absolute;
                top: 0;
                #{$start-direction}: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                font-size: 0;
                z-index: 1;
                cursor: pointer;

                &::-webkit-file-upload-button {
                  cursor: pointer;
                }

                &:hover {
                  + .upload-box-inner {
                    border-color: var(--input-base-border-color);

                    .iconify {
                      color: var(--input-base-border-color);
                    }
                  }
                }
              }

              .upload-box-inner {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 56px;
                width: 56px;
                border: 1.8px dashed var(--light-text);
                border-radius: 8px;
                transition: all 0.3s;

                .iconify {
                  font-size: 16px;
                  color: var(--light-text);
                  transition: color 0.3s;
                }

                .remove-link {
                  position: absolute;
                  top: -7px;
                  #{$end-direction}: -6px;
                  height: 28px;
                  width: 28px;
                  border-radius: 50%;
                  border: 1px solid var(--input-base-border-color);
                  box-shadow: var(--light-box-shadow);
                  background: var(--input-base-color);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  z-index: 3;

                  i {
                    font-size: 12px;
                  }
                }
              }

              .preview-box {
                position: relative;
                height: 56px;
                width: 56px;

                .delete {
                  position: absolute;
                  top: -7px;
                  #{$end-direction}: -6px;
                  z-index: 3;
                }

                img {
                  display: block;
                  height: 56px;
                  width: 56px;
                  object-fit: cover;
                  box-shadow: var(--light-box-shadow);
                  border-radius: 6px;
                }
              }
            }
          }

          .add-more-files {
            padding: 0.5rem 0;

            a {
              display: flex;
              align-items: center;
              color: var(--light-text);
              font-family: var(--font);
              font-size: 0.9rem;
              font-weight: 400;

              .iconify {
                position: relative;
                font-size: 0.75rem;
                margin-#{$end-direction}: 0.25rem;
              }
            }
          }
        }
      }
    }
  }

  .timeline-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;

    &.is-spaced {
      margin-top: 40px;
    }

    span {
      display: block;
      min-width: 110px;
      text-align: center;
      padding: 8px 16px;
      border-radius: 50px;
      color: var(--title-color);
      font-size: 0.9rem;
      font-weight: 500;
      background: var(--wrap-muted-color);
    }
  }

  .tabs {
    ul {
      border-bottom-color: transparent;

      li {
        &.is-active {
          a {
            color: var(--title-color);
            border-color: var(--primary);
          }
        }

        a {
          color: var(--light-text);
        }
      }
    }
  }

  .navtab-content {
    padding-#{$start-direction}: 0 !important;
    padding-#{$end-direction}: 0 !important;
  }

  .timeline-load {
    margin: 40px 0;
  }

  .deal-timeline {
    ul {
      li {
        position: relative;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          padding-bottom: 20px;
        }

        &:last-child {
          &.is-scheduled {
            &:after {
              height: 300px;
            }
          }

          &:after {
            height: 100px;
          }
        }

        &:after {
          content: "";
          position: absolute;
          #{$start-direction}: 19px;
          top: 50%;
          width: 1.6px;
          height: 100%;
          background: var(--card-border-color);
        }

        .timeline-icon {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          min-width: 40px;
          border-radius: 50%;
          background: var(--wrap-bg-color);
          border: 1px solid var(--wrap-border-color);
          z-index: 1;

          .iconify {
            font-size: 18px;
            color: var(--primary);
          }

          img {
            display: block;
            height: 32px;
            width: 32px;
            min-width: 32px;
            border-radius: 50%;
          }
        }

        .timeline-item {
          position: relative;
          width: 100%;
          background: var(--card-bg-color);
          border-radius: 0.6rem;
          border: 1px solid var(--card-border-color);
          margin-#{$start-direction}: 1.25rem;
          overflow: hidden;

          &.is-note {
            background: var(--wrap-muted-color);
            border: 2px solid var(--primary);
          }

          .item-body {
            padding: 1.5rem;

            h3 {
              font-family: var(--font-alt);
              font-size: 0.9rem;
              font-weight: 600;
              color: var(--title-color);
            }

            .note-text {
              font-family: var(--font);
              font-size: .9rem;
              color: var(--title-color);
              margin: .25rem 0 .75rem 0;
              max-width: 540px;
            }

            .meta-list {
              display: flex;
              align-items: center;

              .meta-list-item {
                display: flex;
                align-items: center;

                img {
                  display: block;
                  height: 26px;
                  width: 26px;
                  min-width: 26px;
                  border-radius: 50%;
                  margin-#{$end-direction}: 8px;
                }

                i {
                  font-size: 16px;
                  margin-#{$end-direction}: 3px;
                  color: var(--light-text);
                }

                span {
                  display: block;
                  font-family: var(--font);
                  color: var(--medium-text);
                  font-size: 0.9rem;
                }
              }

              + .meta-list {
                margin-top: 0.75rem;
              }
            }

            .document-item {
              display: flex;
              align-items: center;

              img {
                display: block;
                height: 40px;
                width: 40px;
                min-width: 40px;
                border-radius: 6px;
              }

              .document-meta {
                margin-#{$start-direction}: 12px;

                span {
                  display: block;

                  a {
                    font-size: 0.9rem;
                    font-family: var(--font-alt);
                    font-weight: 600;
                    color: var(--title-color);
                  }

                  &:nth-child(2) {
                    color: var(--medium-text);
                    font-family: var(--font);
                    font-size: 0.8rem;
                  }
                }
              }

              + .meta-list {
                margin-top: 0.75rem;
              }
            }
          }

          .item-footer {
            padding: 16px 20px;
            background: var(--wrap-muted-color);
            border-top: 1px solid var(--card-border-color);

            p {
              font-family: var(--font);
              font-size: 0.9rem;
              font-weight: 500;
              color: var(--title-color);
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
4. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
  .deal-title-wrapper {
    &.is-mobile {
      flex-direction: column;

      img {
        margin-#{$end-direction}: 0;
      }

      .deal-title {
        text-align: center;
      }

      .actions {
        margin: 20px 0 0 0;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .stage-wrapper {
    .stages {
      .stage {
        border-#{$end-direction}-color: transparent;

        span {
          display: none !important;
        }
      }
    }
  }

  .deal-meta {
    flex-direction: column;

    .deal-owner {
      margin: 10px 0 0 0;
      width: 100%;
    }

    .dropdown {
      margin-#{$start-direction}: auto !important;
    }
  }

  .action-card {
    .action-card-header {
      padding: 10px !important;

      .action {
        i {
          font-size: 11px !important;
        }

        span {
          font-size: 0.8rem !important;
        }

        .arrow-down {
          bottom: -22px !important;
        }
      }
    }

    .action-wrap {
      .button-wrap {
        .control {
          visibility: hidden;
        }
      }
    }
  }
}
