/* ==========================================================================
Forum Home
========================================================================== */

.forum-wrap {
  padding: 10px;
  background: var(--wrap-muted-color);
  border: 1px solid var(--wrap-border-color);
  border-radius: 8px;
  margin-top: 20px;

  &:last-child {
    margin-bottom: 60px !important;
  }

  
}

/* ==========================================================================
3. Inner Container
========================================================================== */

.forum-container {
  position: relative;
  padding: 20px;
  background: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  border-radius: 6px;

  .channel-heading {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    h3 {
      font-size: 1.2rem;
      color: var(--light-text);
      font-family: "Nexa Bold", sans-serif;
    }

    .dropdown-wrap {
      margin-#{$start-direction}: auto;
    }
  }

  .forum-channel {
    @include zodCard();

    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
    transition: box-shadow 0.3s;

    .channel-icon {
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      .iconify {
        color: var(--light-text);
        font-size: 2rem;
      }

      .new-indicator {
        position: absolute;
        top: -2px;
        #{$end-direction}: -6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        min-width: 22px;
        border: 2px solid var(--white);
        border-radius: 50%;
        background: var(--primary);

        span {
          position: relative;
          display: block;
          font-size: 0.65rem;
          font-weight: 600;
          line-height: 0;
          color: var(--white);
        }
      }
    }

    .channel-meta {
      margin-#{$start-direction}: 0.75rem;

      span {
        display: block;

        &:first-child {
          position: relative;
          font-family: var(--font-alt);
          font-size: 1rem;
          font-weight: 600;
          color: var(--title-color);
          width: auto;
        }

        &:nth-child(2) {
          font-family: var(--font);
          font-size: 0.9rem;
          color: var(--light-text);
        }
      }
    }

    .channel-topics {
      margin-#{$start-direction}: auto;
      margin-#{$end-direction}: 1.25rem;
      text-align: center;
      line-height: 1.2;

      span {
        font-family: var(--font);
        display: block;

        &:first-child {
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--title-color);
        }

        &:nth-child(2) {
          color: var(--medium-text);
          font-weight: 500;
        }
      }
    }

    .top-contributors {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 120px;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    &:hover {
      box-shadow: var(--light-box-shadow);

      .channel-icon {
        background: var(--wrap-muted-color);

        i {
          color: var(--primary);
        }
      }
    }
  }
}

/* ==========================================================================
7. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
  .forum-container {
    padding: 10px;

    .forum-channel {
      flex-direction: column;

      .channel-meta {
        margin-#{$start-direction}: 0;
        text-align: center;
      }

      .channel-topics {
        margin: 10px auto;
      }
    }
  }

  .reply-box {
    width: 100%;
    margin-#{$start-direction}: 0;
    z-index: 1001;

    .note-toolbar {
      padding-#{$start-direction}: 0;
      overflow-x: auto;
    }

    .note-placeholder {
      img {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
