:root {
  --hero-bg-color: var(--white);
  --hero-grey-bg-color: var(--widget-grey);
  --hero-benefits-color: var(--dark-text);
  --hero-opacity: 0.5;
}

.is-dark {
  --hero-bg-color: var(--night-light-3);
  --hero-benefits-color: var(--light-text);
  --hero-grey-bg-color: var(--night-light-1);
  --hero-opacity: 0.2;
}
