/*
    1. Apex Charts
*/
/* ==========================================================================
1. Apex Charts
========================================================================== */

.apexcharts-title-text {
  font-family: var(--font-alt) !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: var(--apexcharts-title-text-color);
}

.apexcharts-legend {
  .apexcharts-legend-text {
    font-family: var(--font) !important;
  }
}

.apexcharts-xaxis,
.apexcharts-yaxis {
  .apexcharts-xaxis-texts-g,
  .apexcharts-yaxis-texts-g {
    .apexcharts-text {
      font-family: var(--font) !important;
    }
  }
}

.apexcharts-datalabels-group {
  .apexcharts-text {
    font-family: var(--font) !important;
    font-weight: 600;
  }
}

body {
  &.is-dark {
    .apexcharts-subtitle-text {
      fill: var(--accent);
    }

    .apexcharts-datalabels-group {
      .apexcharts-datalabel-value {
        color: var(--title-color);
      }
    }

    .apexcharts-yaxis {
      .apexcharts-yaxis-texts-g {
        .apexcharts-text,
        .apexcharts-yaxis-label {
          fill: var(--medium-text);
        }
      }
    }

    .apexcharts-svg {

      line {
        stroke: var(--night-light-16);
      }
      .apexcharts-inner,
      .apexcharts-graphical {
        .apexcharts-xaxis {
          .apexcharts-xaxis-texts-g {
            .apexcharts-text,
            .apexcharts-xaxis-label {
              fill: var(--medium-text);
            }
          }

          line {
            stroke: var(--night-light-16);
          }
        }

        .apexcharts-grid {
          stroke: var(--night-light-16);

          .apexcharts-gridlines-horizontal {
            .apexcharts-gridline {
              stroke: var(--night-light-16);
            }
          }
        }
      }
    }

    .apexcharts-gridlines-vertical {
      .apexcharts-gridline {
        stroke: var(--night-light-16);
      }
    }

    .apexcharts-series-markers,
    .apexcharts-series-bubble {
      .apexcharts-marker {
        stroke: var(--night-light-2);
      }
    }

    .apexcharts-pie-area,
    .apexcharts-pie-slice-0 {
      stroke: var(--night-light-16);
    }

    .apexcharts-radialbar-area {
      stroke: var(--night-light-2);
    }

    .apexcharts-datalabels-group {
      .apexcharts-text,
      .apexcharts-datalabel-value {
        fill: var(--medium-text);
      }
    }

    .apexcharts-legend {
      .apexcharts-legend-series {
        .apexcharts-legend-text {
          color: var(--medium-text) !important;
        }
      }
    }

    .apexcharts-yaxis,
    .apexcharts-xaxis-inversed {
      line {
        stroke: var(--night-light-16);
      }
    }

    .apexcharts-radialbar-track,
    .apexcharts-track {
      .apexcharts-radialbar-area {
        stroke: var(--night-light-2);
      }
    }

    .apexcharts-radial-series {
      .apexcharts-radialbar-area {
        stroke: var(--secondary) !important;
      }
    }

    .apexcharts-radar-series,
    .apexcharts-plot-series {
      > polygon,
      > line {
        fill: none !important;
        stroke: var(--night-light-16);
      }
    }

    .apexcharts-text,
    .apexcharts-yaxis-title-text {
      fill: var(--medium-text);
      font-family: var(--font);
      font-weight: 400;
    }

    .apexcharts-data-labels text {
      fill: #fafafa;
      font-family: var(--font);
      font-weight: 400;
    }

    .apexcharts-bar-area {
      stroke: var(--night-light-16);
    }

    .apexcharts-slices {
      .apexcharts-pie-label {
        fill: #fafafa !important;
      }
    }

    .apexcharts-tooltip {
      box-shadow: 2px 2px 6px -4px var(--night) !important;

      &.apexcharts-theme-light {
        border: 1px solid var(--night-light-16);
        background: var(--night-light-2);
        color: var(--medium-text) !important;

        .apexcharts-tooltip-title {
          background: var(--night-light-2);
          border-bottom: 1px solid var(--night-light-16);
          color: var(--medium-text);
        }

        .apexcharts-tooltip-text-value,
        .apexcharts-tooltip-text-z-value,
        .apexcharts-tooltip-series-group,
        .apexcharts-tooltip-marker {
          color: var(--medium-text) !important;
        }
      }

      * {
        font-family: var(--font);
        color: inherit;
      }

      .apexcharts-yaxistooltip-text {
        color: var(--medium-text) !important;
      }
    }

    .apexcharts-xaxistooltip {
      border: 1px solid var(--night-light-16);
      background: var(--night-light-2);
      color: var(--medium-text) !important;

      &.apexcharts-xaxistooltip-bottom:after {
        border-bottom-color: var(--night-light-2);
      }

      &.apexcharts-xaxistooltip-bottom:before {
        border-bottom-color: var(--night-light-16);
      }

      * {
        font-family: var(--font);
        color: inherit;
      }
    }
  }
}

/* ==========================================================================
Chart card
========================================================================== */

.demo-charts-wrapper {
  .columns {
    margin: -0.3rem;

    .column {
      padding: 0.3rem;
    }
  }
}

.chart-card {
  @include zodCard();

  padding: 1rem;

  .chart-illustration {
    img {
      display: block;
      margin: 0 auto 1rem auto;
      max-width: 205px;
    }

    .chart-card-content {
      text-align: center;

      p {
        color: var(--light-text);
        margin-bottom: .75rem;
      }
    }
  }
}
