.table-widget {
  @include zodCard();

  padding: 1.5rem;

  .table {
    overflow: auto !important;
    width: 100%;
    background: var(--wrap-bg-color);
    border-color: var(--wrap-border-color);

    th {
      font-family: var(--font-alt);
      font-size: .75rem;
      font-weight: 600 !important;
      color: var(--light-text);
      padding: 1rem 0.7em !important;
      border-color: transparent;
      text-transform: uppercase;
    }

    td {
      font-family: var(--font);
      padding: 1rem 0.75em !important;
      vertical-align: middle !important;
      color: var(--title-color);
      border-color: var(--wrap-border-color);

      &.light-cell {
        font-size: .9rem;
        color: var(--light-text);
      }

      &.heavy-cell {
        font-weight: 500;
        font-size: .9rem;
        color: var(--title-color);
      }

      > img {
        display: block;
        min-width: 40px !important;
        height: 40px;
        border-radius: 50%;
        margin: 0 auto;
      }

      .flex-cell-inner {
        @include flexMediaAligned();
      }

      .people {
        display: flex;
        align-items: center;

        a {
          display: block;
          height: 32px;
          width: 32px;
          min-width: 32px;
          max-width: 32px;
          margin: 0 0.25rem;

          img {
            display: block;
            height: 32px;
            width: 32px;
            min-width: 32px;
            max-width: 32px;
            border-radius: 50%;
          }
        }
      }

      .circle-container {
        position: relative;
        max-width: 44px;

        .circle-chart-background {
          stroke: var(--circle-chart-bg-color);
        }

        .circle-chart-circle {
          stroke: var(--primary);
        }

        .circle-icon {
          position: absolute;
          top: 50%;
          #{$start-direction}: 50%;
          transform: translate(calc(-50% * #{$transform-direction}), -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 28px;
          width: 28px;
          min-width: 28px;
          color: var(--title-color);

          span {
            position: relative;
            top: -2px;
            #{$end-direction}: calc(-2px * #{$transform-direction});
            font-family: var(--font);
            font-weight: 700;
            color: var(--title-color);
            font-size: 0.8rem;
          }
        }
      }
    }

    a, .button {
      color: var(--title-color);
      height: 38px;
    }
  }
}