.circle-widget {
  @include zodCard();

  padding: 1.25rem;
  display: flex;
  align-items: center;

  .circle-container {
    position: relative;
    height: 70px;
    width: 70px;
    min-width: 70px;

    .icon-box,
    img,
    .inner-text {
      position: absolute;
      top: 50%;
      #{$start-direction}: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      border-radius: 50%;
      background: var(--wrap-muted-color);
    }

    .inner-text {
      display: block;
      text-align: center;
      font-family: var(--font);
      font-weight: 500;
      color: var(--title-color);
    }

    .circle-chart-background {
      stroke: var(--circle-chart-bg-color);
    }

    .circle-chart-circle {
      stroke: currentColor;
      transition: stroke .3s;
    }
  }

  .circle-meta {
    margin-#{$start-direction}: 1.5rem;

    h3 {
      font-family: var(--font-alt);
      font-weight: 600;
      font-size: 0.95rem;
      color: var(--title-color);
    }

    p {
      color: var(--light-text);
      font-size: 0.85rem;
      font-family: var(--font);
    }
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
