.tickets-widget {
  @include zodCard();

  padding: 1.5rem;

  .ticket-list {
    li {
      .ticket-list-item {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
      }

      .list-item-data {
        display: flex;
        gap: 0.5rem;
        width: 100%;

        .item-info {
          max-width: 230px;

          span {
            display: block;

            &.item-title {
              color: var(--title-color);
              font-size: 0.8rem;
              font-family: var(--font-alt);
              font-weight: 600;
            }

            &:nth-child(2) {
              font-family: var(--font);
              font-size: 0.75rem;
              color: var(--light-text);
            }
          }
        }

        .item-action {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-#{$start-direction}: auto;

          .dot {
            display: block;
            height: 0.75rem;
            width: 0.75rem;
            min-width: 0.75rem;
            border-radius: 50%;
            background: var(--wrap-muted-color);
          }
        }
      }
    }
  }
}
