<div
  x-data="initDropdown()"
  @click.away="close()"
  class="dropdown-wrap is-right"
  :class="{
    'is-active': open,
    '': !open
  }"
>
  <button @click="toggle()" class="dropdown-button">
    <i class="iconify" data-icon="feather:more-horizontal"></i>
  </button>
  <div class="drop-menu">
    <div class="menu-inner">
      <div class="menu-header">
        <h3>Actions</h3>
      </div>
      <div class="options-items">
        <a class="options-item">
          <i class="iconify" data-icon="ph:bookmark-simple-duotone"></i>
          <div class="option-content">
            <span>Bookmark</span>
            <span>Bookmark selected</span>
          </div>
        </a>
        <a class="options-item">
          <i class="iconify" data-icon="ph:archive-duotone"></i>
          <div class="option-content">
            <span>Archive</span>
            <span>Archive selected</span>
          </div>
        </a>
        <a class="options-item">
          <i class="iconify" data-icon="ph:atom-duotone"></i>
          <div class="option-content">
            <span>Spam</span>
            <span>Mark selected as spam</span>
          </div>
        </a>
        <a class="options-item">
          <i class="iconify" data-icon="ph:trash-duotone"></i>
          <div class="option-content">
            <span>Delete</span>
            <span>Delete selected</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
