<!-- Message details -->
<div
  x-show="activeMessage === 'message-7'"
  id="message-7"
  class="inbox-message-details"
  :class="{
        'mobile-active tablet-active': isMobileMessageActive,
        '': !isMobileMessageActive
    }"
>
  <div class="header-area">
    <img class="sender-pic" src="/img/avatars/30.jpg" alt="sender photo" />
    <div class="message-meta">
      <span class="message-title"
        >New design ideas from the user experience team</span
      >
    </div>
    <div class="attachments inbox-hidden-mobile">
      <i class="iconify" data-icon="feather:paperclip"></i>
      <span>2</span>
    </div>
    {{> inbox-message-dropdown}}
    <a
      @click="closeMobileMessage()"
      class="inbox-action inbox-close-details-mobile"
    >
      <i class="iconify" data-icon="feather:x"></i>
    </a>
  </div>
  <!--Message-->
  <div class="message-wrapper has-slimscroll">
    <div class="message-inner">
      <div class="message-head">
        <div class="info">
          <span>Sent by</span>
          <span>annalaurenz@gmail.com</span>
        </div>
        <div class="message-actions">
          <a class="inbox-action">
            <i class="iconify" data-icon="feather:tag"></i>
          </a>
          <a class="inbox-action">
            <i class="iconify" data-icon="feather:message-circle"></i>
          </a>
          <a class="inbox-action">
            <i class="iconify" data-icon="feather:trash-2"></i>
          </a>
        </div>
      </div>
      <!--Mail Content-->
      <div class="mail-content content">
        <p>Hey Tony,</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid adiuvas?
          Philosophi autem in suis lectulis plerumque moriuntur. Reguli
          reiciendam; Si autem id non concedatur, non continuo vita beata
          tollitur. <mark>Quod quidem nobis non saepe contingit.</mark>
        </p>
        <p>
          <a href="http://loripsum.net/" target="_blank"
            >Illa tamen simplicia, vestra versuta.</a
          >
          Ea possunt paria non esse. Quid adiuvas? Praeclarae mortes sunt
          imperatoriae;
        </p>
        <ul>
          <li>Si enim ita est, vide ne facinus facias, cum mori suadeas.</li>
          <li>In eo enim positum est id, quod dicimus esse expetendum.</li>
          <li>
            Minime id quidem, inquam, alienum, multumque ad ea, quae quaerimus,
            explicatio tua ista profecerit.
          </li>
          <li>
            Quae qui non vident, nihil umquam magnum ac cognitione dignum
            amaverunt.
          </li>
        </ul>
        <p>
          Duo Reges: constructio interrete. Qui est in parvis malis. Paria sunt
          igitur.
        </p>

        <p>Anna</p>
      </div>

      <!-- Attachments -->
      <div class="attachments-list">
        <div class="attachment">
          <span>landing-page.png</span>
          <div class="download-icon">
            <i class="iconify" data-icon="feather:arrow-down"></i>
          </div>
        </div>
        <div class="attachment">
          <span>dashboard.png</span>
          <div class="download-icon">
            <i class="iconify" data-icon="feather:arrow-down"></i>
          </div>
        </div>
      </div>
    </div>

    <!--Reply-->
    <div class="reply-box-wrap">
      <div class="reply-bubble">
        <div class="reply-as">
          <img src="/img/avatars/25.jpg" alt="user photo" />
          <div class="reply-details">
            <span>Reply as</span>
            <span>anthonym@gmail.com</span>
          </div>
          {{> inbox-reply-dropdown}}
        </div>
        <!--textarea-->
        <div class="control">
          <textarea
            class="textarea"
            rows="6"
            placeholder="Type your message..."
          ></textarea>
          <button type="button" class="button">Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
